
/* FIRST SHAPE */

a .one:hover, a .one:focus, a .one:active {
  background-color: #F0CD48;

  & .outter, .innermost, .circle {
    background-color: #66284A;
  }
  & .inner {
    background-color: #F0CD48;
  }
}

.one .outter {
  width: 200px;
  height: 200px;
  background-color: rgb(24, 22, 22);
  position: absolute;
  bottom: 50px;
  left: 100px;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}

.one .inner {
  width: 120px;
  height: 120px;
  background-color: grey;
  position: absolute;
  bottom: 90px;
  left: 140px;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}

.one .innermost {
  width: 40px;
  height: 60px;
  background-color: rgb(24, 22, 22);
  position: absolute;
  bottom: 90px;
  left: 180px;
}

.one .circle {
  width: 40px;
  height: 40px;
  background-color: rgb(24, 22, 22);
  border-radius: 50%;
  position: absolute;
  bottom: 130px;
  left: 180px;
}

/* SECOND SHAPE */

a .two:hover, a .two:focus, a .two:active {
  background-color: #4F77FF;
  & .shape1, .shape2, .shape3 {
    background-color: white;
  }
}

.shape1 {
  width: 50px;
  height: 150px;
  background-color: rgb(24, 22, 22);
  position: absolute;
  bottom: 75px;
  left: 55px;
  border-radius: 25px;
}

.shape2 {
  width: 100px;
  height: 150px;
  background-color: rgb(24, 22, 22);
  position: absolute;
  bottom: 75px;
  left: 125px;
  border-radius: 50px;
}

.shape3 {
  width: 100px;
  height: 150px;
  background-color: rgb(24, 22, 22);
  position: absolute;
  bottom: 75px;
  left: 245px;
  border-radius: 50px;
}

/* THIRD SHAPE */

a .three:hover, a .three:focus, a .three:active {
  background-color: #A9C482;
  & .left-background, .left-helper, .right-background, .right-helper,
  .middle-square {
    background-color: #A9C482;
  }
  & .left-part, .right-part, .left-arch, .right-arch {
    background-color: #2D696F;
  }
}
.part {
  position: absolute;
  width: 40px;
  height: 185px;
  background: black;
}

.left-part {
  bottom: 0;
  left: 59px;
}

.right-part {
  top: 0;
  right: 59px;
  transform: rotate(180deg);
}

.helper {
  position: absolute;
  width: 80px;
  height: 90px;
  border-top-left-radius: 78px;
  border-top-right-radius: 78px;
  background: grey;
}

.left-helper {
  bottom: 129px;
  left: 99px;
}

.right-helper {
  top: 129px;
  right: 99px;
  transform: rotate(180deg);
}

.arch {
  position: absolute;
  background-color: black;
  width: 160px;
  height: 90px;
  border-top-left-radius: 80px;
  border-top-right-radius: 80px;
}

.left-arch {
  left: 59px;
  bottom: 170px;
}

.right-arch {
  right: 59px;
  top: 170px;
  transform: rotate(180deg);
}

.middle-square {
  background: grey;
  position: absolute;
  width: 40px;
  height: 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* FOURTH SHAPE */

.four {
  display: flex;
  justify-content: center;
  align-items: center;
}

a .four:hover, a .four:focus, a .four:active {
  background-color: #ED6A9D;
  & .outer-circle {
    background-color: #050044;
  }
  & .inner-circle {
    background-color: #ED6A9D;
  }
  & .sqr1, .sqr2, .sqr3, .sqr4 {
    border-color: #ED6A9D;
  }
}

.four-container {
  width: 240px;
  height: 240px;
  position: relative;
}

.outer-circle {
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner-circle {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  left: 40px;
  top: 40px;
  background-color: grey;
}

.square {
  position: absolute;
  width: 120px;
  height: 120px;
}

/* The easiest and quickest way would be to create 4 tiny squares and position them absolute. However, I decided to play with borders this time.*/

.sqr1 {
  top: 0;
  left: -20px;
  border-right: 40px solid grey;
}

.sqr2 {
  top: -20px;
  right: 0;
  border-bottom: 40px solid grey;
}

.sqr3 {
  bottom: -20px;
  left: 0;
  border-top: 40px solid grey;
}

.sqr4 {
  bottom: 0;
  right: -20px;
  border-left: 40px solid grey;
}

/* FIFTH SHAPE 99.9% match*/

.five {
  display: flex;
  justify-content: center;
  align-items: center;
}

a .five:hover, a .five:focus, a .five:active {
  background-color: #0D1335;
  & .dot {
    background-color: #73C6EA;
  }
  & .elipse1 {
    box-shadow: 0 0 0 10px #FBFAE2;
  } 
  & .elipse2 {
    box-shadow: 0 0 0 9px #4FA07B;
  } 
  & .elipse3 {
    box-shadow: 0 0 0 9px #DC6638;
  }
}

.fifth-container {
  width: 254px;
  height: 220px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.dot {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: black;
}

.elipse {
  position: absolute;
  border-radius: 50%;
  height: 230px;
  width: 90px;
}

.elipse1 {
  box-shadow: 0 0 0 10px black;
  transform: rotate(90deg);    
}

.elipse2 {
  box-shadow: 0 0 0 9px black;
  transform: rotate(30deg);
}

.elipse3 {
  box-shadow: 0 0 0 9px black;
  transform: rotate(-30deg);
}