/*SIXTH SHAPE*/


a .six:hover, a .six:focus, a .six:active {
  background-color: #73C6EA;
  & .tria-1 {
    border-bottom: 180px solid #0D1335;
  }
  & .tria-2 {
    border-bottom: 140px solid #DC6638;
  }
  & .tria-3 {
    border-bottom: 100px solid #FBFAE2;
  }
}

.six .triangle {
  position: absolute;
  bottom: 52px;
  left: 67px;
  width: 0;
  height: 0;
  border-left: 125px solid transparent;
  border-right: 125px solid transparent;
}
.six .tria-1 {
  border-bottom: 180px solid black;
}

.six .tria-2 {
  border-bottom: 140px solid rgb(178, 170, 170);
}

.six .tria-3 {
  border-bottom: 100px solid black;
}

/* SEVENTH SHAPE */

a .seven:hover, a .seven:focus, a.seven:active {
  background-color: #F5D6B4;

  & .chess_body--dot-l, 
    .chess_body--dot-r {
    background-color: #F5D6B4;
  }
  & [class*="chess-"] {
    background-color: #D86F45;
  }
}

.chess_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

[class*="chess-"] {
  background-color: black;
  position: absolute;
}

.chess-dot {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  top: 48px;
}

.chess-collar {
  width: 80px;
  height: 20px;
  top: 102px;
  border-top-left-radius: 21px 21px;
  border-bottom-left-radius: 39px 39px;
  border-top-right-radius: 21px 21px;
  border-bottom-right-radius: 39px 39px;
}

.chess-body {
  width: 88px;
  height: 65px;
  top: 127px;
}

.chess_body--dot-r {
  position: absolute;
  background-color: grey;
  width: 152px;
  height: 152px;
  border-radius: 50%;
  top: 59px;
  left: 30px;
}

.chess_body--dot-l {
  position: absolute;
  background-color: grey;
  width: 152px;
  height: 152px;
  border-radius: 50%;
  top: 59px;
  right: 30px;
}

.chess-feet {
  width: 140px;
  height: 40px;
  bottom: 62px;
  border-top-left-radius: 25px 15px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 25px 15px;
  border-bottom-right-radius: 10px;
}

/* EIGHTH SHAPE */
a .eight:hover, a .eight:focus, a.eight:active {
  background: #F3EAD2;
  & .circle8, .square8 {
    border: 30px solid #42A5F5;
  }
  & .bar8 {
    background: #42A5F5;
  }
}

.eight {
  background: grey;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle8,
.square8 {
  border: 30px solid black;
  background: transparent;
}

.circle8 {
  width: 190px;
  aspect-ratio: 1;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.bar8 {
  width: 30px;
  height: 190px;
  background: black;
}

.square8 {
  position: absolute;
  width: 90px;
  aspect-ratio: 1;
  transform: rotate(45deg);
  bottom: -65px;
  left: 20px;
}