/*SIXTH SHAPE*/

a .six:hover, a .six:focus, a .six:active {
  --bg-clr: #73C6EA;
  --detail-blue: #0D1335;
  --detail-orange: #DC6638;
  --detail-light: #FBFAE2;

  background-color: var(--bg-clr);
  & .tria-1 {
    border-bottom-color: var(--detail-blue);
  }
  & .tria-2 {
    border-bottom-color: var(--detail-orange);
  }
  & .tria-3 {
    border-bottom-color: var(--detail-light);
  }
  & .number {
    color: var(--detail-blue);
  }
}

.six .triangle {
  position: absolute;
  bottom: 52px;
  left: 67px;
  width: 0;
  height: 0;
  border-left: 125px solid transparent;
  border-right: 125px solid transparent;
}
.six .tria-1 {
  border-bottom: 180px solid black;
}

.six .tria-2 {
  border-bottom: 140px solid rgb(178, 170, 170);
}

.six .tria-3 {
  border-bottom: 100px solid black;
}

/* SEVENTH SHAPE */

a .seven:hover, a .seven:focus, a.seven:active {
  --bg-clr: #F5D6B4;
  --detail-clr: #D86F45;

  background-color: var(--bg-clr);

  & .chess_body--dot-l, 
    .chess_body--dot-r {
    background-color: var(--bg-clr);
  }
  & [class*="chess-"] {
    background-color: var(--detail-clr);
  }

  & .number {
    color: var(--detail-clr);
  }
}

.chess_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

[class*="chess-"] {
  background-color: black;
  position: absolute;
}

.chess-dot {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  top: 48px;
}

.chess-collar {
  width: 80px;
  height: 20px;
  top: 102px;
  border-top-left-radius: 21px 21px;
  border-bottom-left-radius: 39px 39px;
  border-top-right-radius: 21px 21px;
  border-bottom-right-radius: 39px 39px;
}

.chess-body {
  width: 88px;
  height: 65px;
  top: 127px;
}

.chess_body--dot-r {
  position: absolute;
  background-color: grey;
  width: 152px;
  height: 152px;
  border-radius: 50%;
  top: 59px;
  left: 30px;
}

.chess_body--dot-l {
  position: absolute;
  background-color: grey;
  width: 152px;
  height: 152px;
  border-radius: 50%;
  top: 59px;
  right: 30px;
}

.chess-feet {
  width: 140px;
  height: 40px;
  bottom: 62px;
  border-top-left-radius: 25px 15px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 25px 15px;
  border-bottom-right-radius: 10px;
}

/* EIGHTH SHAPE */
a .eight:hover, a .eight:focus, a.eight:active {
  --bg-clr: #F3EAD2;
  --detail-clr: #42A5F5;

  background: var(--bg-clr);
  & .circle8, .square8 {
    border-color: var(--detail-clr);
  }
  & .bar8 {
    background:var(--detail-clr);
  }
  & .number {
    color: var(--detail-clr);
  }
}

.eight {
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle8,
.square8 {
  border: 30px solid black;
  background: transparent;
}

.circle8 {
  width: 190px;
  aspect-ratio: 1;
  border-radius: 50%;
  position: relative;
  overflow: clip;
  overflow-clip-margin: 1px;
  display: flex;
  justify-content: center;
}

.bar8 {
  width: 30px;
  height: 190px;
  background: black;
}

.square8 {
  position: absolute;
  width: 90px;
  aspect-ratio: 1;
  transform: rotate(45deg);
  bottom: -65px;
  left: 20px;
}

/* NINTH SHAPE */

a .nine:hover, a .nine:focus, a.nine:active {
  --bg-clr: #784972;
  --detail-clr: #F7FFCF;

  background: var(--bg-clr);
  & .absolute {
    background: var(--detail-clr);
  }
  & [class*="pumpkin"] {
    border-color: var(--bg-clr);
  }
  & .number {
    color: var(--detail-clr);
  }
}

.absolute {
  position: absolute;
  background: black;
}

[class*="pumpkin"] {
  border: 10px solid grey;
  width: 102px;
  height: 150px;
  border-radius: 50%;
}

.pumpkin-left-out {
  bottom: 31px;
  left: 51px;
}

.pumpkin-right-out {
  bottom: 31px;
  right: 51px;
}

.pumpkin-left-inn {
  left: 91px;
  bottom: 31px;
}

.pumpkin-right-inn {
  right: 91px;
  bottom: 31px;
}

.pumpkin-middle {
  left: 132px;
  bottom: 32px;
}

.stem {
  width: 22px;
  height: 54px;
  top: -51px;
  left: 39px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

/* TENTH SHAPE */

a .ten:hover, a .ten:focus, a.ten:active {
  --bg-clr: #EFEB99;
  --detail-clr: #8647E6;

  background: var(--bg-clr);

  & .a, .bar-ten {
    background: var(--detail-clr);
  }
  & .number {
    color: var(--detail-clr);
  }
}

.ten {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-ten {
  transform: rotate(45deg);
  width: 220px;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.a {
  background: black;
  width: 30px;
  border-radius: 50%;
  aspect-ratio: 1;
}

.wrap-ten-2 {
  display: flex;
  margin-top: -190px;
}

.wrap-ten-3 {
  display: flex;
  margin-bottom: -190px;
  margin-left: -110px;
}

.bar-ten {
  position: absolute;
  background: black;
  width: 30px;
  height: 190px;
  left: 95px;
}

.bar-ten-2 {
  transform: rotate(90deg);
}