/* ELEVENTH SHAPE */

a .eleven:hover, a .eleven:focus, a.eleven:active {
  --bg-clr: #F6E49C;
  --detail-clr: #2F5C24;

  background: var(--bg-clr);

  & .b11 {
    background: var(--detail-clr);
  }
  & .a11, .c11 {
    border-color: var(--detail-clr);
  }
  & .number {
    color: var(--detail-clr);
  }
}

.eleven {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-eleven {
  display: flex;
}

.square11 {
  height: 40px;
}

.a11 {
  border: 40px solid black;
  border-left: transparent;
  width: 80px;
}

.b11 {
  width: 40px;
  background: black;
  margin-top: 40px;
}

.c11 {
  border: 40px solid black;
  width: 40px;
}